# Database Credentials
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
SSL_MODE=

# JWT Credentials
JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=

# Excel upload directory
UPLOAD_DIR=

# SMTP Config
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
EMAIL_RECIPIENT=

# SharePoint credentials
SHAREPOINT_TENANT_ID=
SHAREPOINT_SITE_URL=
SHAREPOINT_CLIENT_ID=
SHAREPOINT_CLIENT_SECRET=
SHAREPOINT_TARGET_FOLDER=