# Database Credentials
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
SSL_MODE=

# JWT Credentials
JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=

# Excel upload directory
UPLOAD_DIR=

# SMTP Config
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
EMAIL_RECIPIENT=

# SharePoint credentials
SHAREPOINT_TENANT_ID=
SHAREPOINT_SITE_URL=
SHAREPOINT_CLIENT_ID=
SHAREPOINT_CLIENT_SECRET=
SHAREPOINT_TARGET_FOLDER=

# SharePoint Reports Sync Config
SHAREPOINT_REPORTS_SUBFOLDER=
SHAREPOINT_SYNC_BACKGROUND_POLL=
SHAREPOINT_SYNC_SCHEDULED_TIMES=

# SharePoint SSL Verification config (set to 'false' or path to corporate CA bundle if running on a corporate network/VM behind SSL-decrypting proxies)
SHAREPOINT_SSL_VERIFY=true

# Proxy Settings (used in corporate networks / VMs if proxy/SSL-decryption is enabled)
PROXY_ENABLED=false
PROXY_URL=
PROXY_INSECURE_SSL=false