@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

button,
[role="button"],
select,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

button:disabled,
[role="button"]:disabled,
select:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
}
